.dialog1-container {
  padding-top: 30px;
  position: absolute;
  top: 0;
  // right: 0;
  left: 0;
  bottom: 0;
  display: none;
  &.active {
    display: block;
    right: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .dialog1 {
    overflow: auto;
    margin: auto;
    top: 0;
    right: 0;
    border-radius: 8px;
    background-color: #fff;
    z-index: 9;
    // width: calc(100vw - 80px);
    // height: calc(100vh - 60px);
    width: calc(100vw - 6.2em);
    height: calc(100vh - 4.6em);
  }
}
