@import "../../assets/styling/variable";


.table1 {
  width: 150vw;
  overflow-x: auto;
  thead {
    color: #7c7c7c;
    font-size: 13px;
  }
  tbody {
    font-size: 14px;
  }
  .anchor-tag {
    color: $theme-text;
  }
  th {
    width: 250px;
    padding: 12px 0px 12px 16px;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  td {
    width: 250px;
    padding: 12px 0px 12px 16px;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
}
