@import '../../assets/styling/variable';

.group-button-container {
  // border: 2px solid red;
  background: $theme-light-color;
  border-radius: 8px;
  font-weight: 500;
  color: #707070;
  font-size: 14px;
  height: 38px;

  span {
    // border: 2px solid;
    // flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  6px 12px;
    &.active {
      // border: 2px solid green;
      background: $theme-color;
      border: 1px $theme-color;
      font-weight: 500;
      border-radius: 5px;
      // height: 35px;
      color: $default-light-text;
      // height: 30px;
    }
  }
}

.height-35 {
  height: 35px;
}